body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: red;
}
.container-1{
    padding: 20px;


    display: flex;
    /* flex-direction: column; */

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
}
.container-1 div{
    background-color: yellow;
    border: 1px solid;
    padding: 20px;
    width: auto;
}

.box1 {
    /* flex: 2; */
    order: 2;
}

.box2 {
    /* flex: 1; */
    order: 1;
}

.box3 {
    /* flex: 1; */
    order: 3;
}












.container-2 {

    padding: 20px;
    margin-top: 30px;

    display: flex;
    /* justify-content: center; */
    

}
.container-2 div{

    background-color: aqua;
    border: 2px solid;
    padding: 20px;

    /* width: 300px; */

}


.container-2 > div:nth-child(1),
.container-2 > div:nth-child(2) {
    border-right: none;
}





@media screen and (max-width: 768px) {
    .container-1{
        flex-direction: column;
        width: 90%;
    }
    .container-2{
        flex-direction: column;
        width: 90%;
    }
    .container-1 div,
    .container-2 div{
        margin: 10px;
    }
}