*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


            /* Horizontally Center Align Elements 
.center{
    border: 1px solid #000;
    
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    margin:auto;
}

*/















                /* Horizontally Center an Image */
.image {
    border: 3px solid #000;
    padding: 20px;
    height: 600px;
            /* use this to center */
    text-align: center;
    
}
img {
            /* Or Use this  */
    width: 30%;
    display: block;
    margin: auto;

            /* only use on inline Elements */
    width:9px;
    height: 9px;
    /* vertical-align: bottom; */
}




















            /* Center Vertically - Using padding */
.vertical{
    border: 1px solid #000;
    padding: 50px;

    /* text-align: center; */
}




            /* Center Vertically - Using line-height 
.line{
    border: 6px solid #000;
    height: 110px;

    line-height: 90px;
}
.line p{
    border: 2px solid rgb(85, 5, 190);
}

*/



















.position{
    border: 1px solid #000;

    height: 200px;
    position: relative;

}
.position p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
